.container {
  height: 500px;
  width: 500px;

  color: #F2E7D5;
  border-radius: 15px;
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

h1 {
  text-align: center;
  padding: 10px;

  font-size: 40px;
  font-weight: 500;
}

.input-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 20px;

  margin-top: 30px;
  font-size: 18px;
}

label {
  position: relative;
  top: 8px;
  left: 70px;
}

input {
  border-radius: 5px;
  padding: 10px;
  width: 100px;

  position: relative;
  left: 70px;
}

.btn-container {
  margin-top: 50px;
  text-align: center;
}

button {
  background: #1488CC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: none;
  padding: 15px;

  font-size: 18px;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

h3 {
  text-align: center;
  margin-top: 40px;
  font-size: 28px;
}

p {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}

